## Creating tables in database

In [3]:
import psycopg2

##### Database connection

In [45]:
with psycopg2.connect(
    database='etl-mini-champions',
    user='postgres',
    password='#supersjefen2029',
    host='summer22data.postgres.database.azure.com'
) as conn:
    cur = conn.cursor()

##### Setting up tables in database

In [42]:
# Bronnoysund mainunit company data table
cur.execute("DROP TABLE gradprojectgrp3.company_mainunit;")
cur.execute("CREATE TABLE gradprojectgrp3.company_mainunit \
    (organisasjonsnummer int primary key, \
    navn varchar, \
    registreringsdatoEnhetsregisteret varchar, \
    registrertIMvaregisteret varchar, \
    antallAnsatte int, \
    stiftelsesdato varchar, \
    registrertIForetaksregisteret varchar, \
    registrertIStiftelsesregisteret varchar, \
    registrertIFrivillighetsregisteret varchar, \
    konkurs varchar, \
    underAvvikling varchar, \
    underTvangsavviklingEllerTvangsopplosning varchar, \
    maalform varchar, \
    organisasjonsform_kode varchar, \
    organisasjonsform_beskrivelse varchar, \
    organisasjonsform__links_self_href varchar, \
    naeringskode1_beskrivelse varchar, \
    naeringskode1_kode float, \
    forretningsadresse_land varchar, \
    forretningsadresse_landkode varchar, \
    forretningsadresse_postnummer int, \
    forretningsadresse_poststed varchar, \
    forretningsadresse_adresse varchar, \
    forretningsadresse_kommune varchar, \
    forretningsadresse_kommunenummer int, \
    links_self_href varchar);")
conn.commit()
cur.close()

In [27]:
# Bronnoysund subunit company data table

#cur.execute("DROP TABLE gradprojectgrp3.company_subunit;")
cur.execute("CREATE TABLE gradprojectgrp3.company_subunit \
    (organisasjonsnummer int primary key, \
    navn varchar, \
    registreringsdatoEnhetsregisteret varchar, \
    registrertIMvaregisteret varchar, \
    antallAnsatte float, \
    overordnetEnhet int, \
    oppstartsdato varchar, \
    organisasjonsform_kode varchar, \
    organisasjonsform_beskrivelse varchar, \
    organisasjonsform__links_self_href varchar, \
    naeringskode1_beskrivelse varchar, \
    naeringskode1_kode float, \
    beliggenhetsadresse_land varchar, \
    beliggenhetsadresse_landkode varchar, \
    beliggenhetsadresse_postnummer int, \
    beliggenhetsadresse_poststed varchar, \
    beliggenhetsadresse_adresse varchar, \
    beliggenhetsadresse_kommune varchar, \
    beliggenhetsadresse_kommunenummer varchar, \
    links_self_href varchar, \
    links_overordnetEnhet_href varchar, \
    hjemmeside varchar, \
    datoEierskifte varchar);")
conn.commit()
cur.close()

In [46]:
# Bronnoysund parentunit company data table
cur.execute("DROP TABLE gradprojectgrp3.company_parentunit;")
cur.execute("CREATE TABLE gradprojectgrp3.company_parentunit \
    (organisasjonsnummer int primary key, \
    navn varchar, \
    registreringsdatoEnhetsregisteret varchar, \
    registrertIMvaregisteret varchar, \
    antallAnsatte float, \
    stiftelsesdato varchar, \
    registrertIForetaksregisteret varchar, \
    registrertIStiftelsesregisteret varchar, \
    registrertIFrivillighetsregisteret varchar, \
    konkurs varchar, \
    underAvvikling varchar, \
    underTvangsavviklingEllerTvangsopplosning varchar, \
    maalform varchar, \
    organisasjonsform_kode varchar, \
    organisasjonsform_beskrivelse varchar, \
    organisasjonsform__links_self_href varchar, \
    naeringskode1_beskrivelse varchar, \
    naeringskode1_kode float, \
    forretningsadresse_land varchar, \
    forretningsadresse_landkode varchar, \
    forretningsadresse_postnummer int, \
    forretningsadresse_poststed varchar, \
    forretningsadresse_adresse varchar, \
    forretningsadresse_kommune varchar, \
    forretningsadresse_kommunenummer int, \
    links_self_href varchar);")
conn.commit()
cur.close()

In [40]:
# Mattilsynet table

cur.execute("DROP TABLE gradprojectgrp3.mattilsynet;")
cur.execute("CREATE TABLE gradprojectgrp3.mattilsynet \
    (tilsynid varchar primary key,\
    org_navn varchar, \
    orgnummer int, \
    adresse varchar, \
    postnr int, \
    poststed varchar, \
    karakter1 decimal, \
    karakter2 int, \
    karakter3 decimal, \
    karakter4 decimal, \
    total_karakter int, \
    dato varchar, \
    tilsynsbesoektype int, \
    tilsynsobjektid varchar, \
    sakref varchar, \
    status int);")
conn.commit()
cur.close()