# Gender name data processing

In [1]:
# library imports
import pickle
import regex as re
import pandas as pd
import os.path as path

In [5]:
# Universal gender names
df_1 = pd.read_csv('gender_name.csv') 
df_2 = pd.read_csv('gender_name_2.csv')
df = df_1[['name','sex']]
df_universal_gender_names = pd.concat([df, df_2[['name','sex']]], ignore_index=True, sort=False)

In [2]:
# Norwegian gender names
df = pd.read_excel('norwegian_female_names.xlsx')
df['origin'] = "norwegian"
df_norwegian_female_names = df[['name', 'origin']]
df_norwegian_female_names['sex'] = "F"

df = pd.read_excel('norwegian_male_names.xlsx')
df = df.groupby('name')
df = pd.DataFrame(df, columns = ['name', 'sex'])
df['origin'] = "norwegian"
df_norwegian_male_names = df[['name', 'origin']]
df_norwegian_female_names['sex'] = "M"

df_norway = pd.concat([df_norwegian_female_names, df_norwegian_male_names])

In [3]:
# Adding swedish names:
list_of_swed_male_names = ['Hugo', 'Matteo', 'Walter', 'Harry', 'Vincent', 'Charlie', 'Arvid', 'Frans', 'Sam', 'Louie', 'Otto', 'Malte', 'Elton', 'Ebbe', 'Love', 'Olle', 'Melvin', 'Albin', 'Jack', 'Frank', 'Tage', 'Colin', 'Noel', 'Sixten', 'Viggo', 'Vidar', 'Melker', 'Loke', 'Ivar', 'Milo', 'Sigge', 'Alvin', 'Kian', 'Nicholas', 'Anton', 'Milton', 'Vilgot', 'Wilmer', 'Wilhelm', 'Elis', 'Dante', 'Ture', 'Elvin', 'Folke', 'Algot', 'Hjalmar', 'Vide', 'Alvar', 'Ted', 'Alve', 'Joel', 'Björn', 'Otis', 'Svante']
list_of_swed_female_names = ['Alice', 'Elsa', 'Wilma', 'Freja', 'Vera', 'Ines', 'Ester', 'Ellen', 'Molly', 'Lo', 'Nova', 'Mila', 'Lova', 'Juni', 'Isabelle', 'Edith', 'Nellie', 'Leia', 'Meja', 'Livia', 'Rut', 'Tyra', 'Cleo', 'Majken', 'Lovisa', 'Sally', 'Elin', 'Lykke', 'Hailey', 'Bonnie', 'Hilma', 'Melina', 'Mira', 'Märta', 'Hilda', 'Melissa', 'Svea', 'Zoe', 'Ilse', 'Stina', 'Joline', 'Lovis', 'Tilde', 'Elsie', 'Siri', 'Elina', 'Maryam', 'Belle', 'Felicia', 'Matilda', 'Bianca', 'Moa', 'Ayla', 'Idun', 'Millie']

df_swed_m = pd.DataFrame(list_of_swed_male_names, columns = ['name'])
df_swed_m['origin'] = "swedish"
df_swed_m['sex'] = "M"
df_swed_f = pd.DataFrame(list_of_swed_female_names, columns = ['name'])
df_swed_f['origin'] = "swedish"
df_swed_f['sex'] = "F"

df_sweden = pd.concat([df_swed_f, df_swed_m])

In [4]:
# Islamic gender names
islamic_female_name = []
with open('islamske_kvinne_navn.txt','r') as file:   
    # reading each line    
    for line in file:   
        # reading each word        
        for name in line.split():   
            # displaying the words
            name = name.strip(",")           
            islamic_female_name.append(name)
df_islamic_female_name = pd.DataFrame(islamic_female_name, columns=["name"])
df_islamic_female_name['origin'] = "arabic"
df_islamic_female_name['sex'] = "F"

islamic_male_name = []
with open('islamske_mannenavn_navn.txt','r') as file:   
    # reading each line    
    for line in file:   
        # reading each word        
        for name in line.split():   
            # displaying the words
            name = name.strip(",")           
            islamic_male_name.append(name)
df_islamic_male_name = pd.DataFrame(islamic_male_name, columns=["name"])
df_islamic_male_name['origin'] = "arabic"
df_islamic_male_name['sex'] = "M"

df_arabic = pd.concat([df_islamic_male_name, df_islamic_female_name])

In [84]:
# Islamic gender names
universal_name_origin = []
first_line = True
with open('name_origin.csv','r') as file:   
    for line in file:
        if first_line != True:

            row = []
            for item in line.split(","):   
                item = item.strip(" ")
                item = item.strip("\n")
                row.append(item)
            universal_name_origin.append(row)
        else:
            first_line = False
df_universal_name = pd.DataFrame(universal_name_origin, columns=["index", "name", "origin"])
df_universal_name = df_universal_name[["name", "origin"]]

In [85]:
# Combining into a df_gender_name
df = pd.concat([df_universal_name,
                df_norway,
                df_sweden,
                df_arabic
                ])

In [86]:
df["origin"].unique()

array(['yiddish', 'gaelic', 'african', 'irish', 'hungarian', 'german',
       'swedish', 'japanese', 'italian', 'american', 'hawaiian', 'greek',
       'polynesian', 'scandinavian', 'spanish', 'celtic', 'old-english',
       'korean', 'sanskrit', 'african-american', 'hebrew', 'norse',
       'chinese', 'finnish', 'persian', 'scottish', 'slavic', 'english',
       'old-norse', 'dutch', 'armenian', 'welsh', 'polish', 'teutonic',
       'russian', 'egyptian', 'arabic', 'swahili', 'native-american',
       'old-french', 'french', 'middle-english', 'latin', 'vietnamese',
       'danish', 'hindi', 'old-german', 'turkish', 'indian',
       'czechoslovakian', 'norwegian'], dtype=object)

In [87]:
scandinavian = ['scandinavian' ,'norwegian', 'swedish', 'danish', 'norse', 'old-norse']
sami_finish = ['finnish']
african = ['swahili', 'african']
arabic = ['turkish', 'arabic', 'persian', 'egyptian']
western_european = ['teutonic','dutch', 'scottish','english','spanish','american','old-english','italian', 'irish','old-french', 'french', 'middle-english', 'latin', 'old-german', 'german']
celtic = ['gaelic', 'celtic', 'welsh']
eastern_european = ['polish', 'czechoslovakian', 'slavic', 'russian', 'armenian']
asian = ['hindi', 'indian', 'vietnamese', 'japanese', 'korean', 'chinese', 'sanskrit']
other_european = ['hungarian', 'greek']
pacific_islander = ['hawaiian', 'polynesian']
non_european_american = ['african-american','native-american']
jewish = ['yiddish', 'hebrew']

In [88]:
def region_classefier(origin):
    if origin in scandinavian:
        return 'scandinavian'
    elif origin in sami_finish:
        return 'sami_finish'
    elif origin in african:
        return 'african'
    elif origin in arabic:
        return 'arabic'
    elif origin in western_european:
        return 'western_european'
    elif origin in celtic:
        return 'celtic'
    elif origin in eastern_european:
        return 'eastern_european'
    elif origin in asian:
        return 'asian'
    elif origin in other_european:
        return 'other_european'
    elif origin in pacific_islander:
        return 'pacific_islander'
    elif origin in non_european_american:
        return 'non_european_american'
    elif origin in jewish:
        return 'jewish'
    else:
        print("NOT FOUND")
        print(origin)

In [89]:
nordic = ['finnish','scandinavian' ,'norwegian', 'swedish', 'danish', 'norse', 'old-norse']
african_middel_eastern = ['swahili', 'african','turkish', 'arabic', 'persian', 'egyptian']
western_european = ['hungarian', 'greek','gaelic', 'celtic', 'welsh','teutonic','dutch', 'scottish','english','spanish','american','old-english','italian', 'irish','old-french', 'french', 'middle-english', 'latin', 'old-german', 'german']
eastern_european = ['polish', 'czechoslovakian', 'slavic', 'russian', 'armenian']
asian = ['hindi', 'indian', 'vietnamese', 'japanese', 'korean', 'chinese', 'sanskrit']
other = ['yiddish', 'hebrew', 'african-american','native-american', 'hawaiian', 'polynesian']

In [90]:
def super_region_classefier(origin):
    if origin in nordic:
        return 'nordic'
    elif origin in african_middel_eastern:
        return 'african_middel_eastern'
    elif origin in western_european:
        return 'western_european'
    elif origin in eastern_european:
        return 'eastern_european'
    elif origin in asian:
        return 'asian'
    elif origin in other:
        return 'other'
    else:
        print("NOT FOUND")

In [91]:
df['region'] = df['origin'].map(region_classefier)

In [92]:
df['super_region'] = df['origin'].map(super_region_classefier)

In [94]:
df

         name   origin  region            super_region
0     Gershon  yiddish  jewish                   other
1       Lantz  yiddish  jewish                   other
2       Zaide  yiddish  jewish                   other
3      Zalman  yiddish  jewish                   other
4      Zindel  yiddish  jewish                   other
..        ...      ...     ...                     ...
825  Zubaidah   arabic  arabic  african_middel_eastern
826     Zuhal   arabic  arabic  african_middel_eastern
827     Zuhur   arabic  arabic  african_middel_eastern
828  Zulaikha   arabic  arabic  african_middel_eastern
829     Zulfa   arabic  arabic  african_middel_eastern

[5569 rows x 4 columns]

In [95]:
# Transforming the data to two lists:
# And last minute clean up, removal of " " characters.
name_list = df.name.tolist()
temp_name_list = []
X = []
for name in name_list:
    X.append(name.strip())
y1 = df.origin.tolist()
y2 = df.region.tolist()
y3 = df.super_region.tolist()

In [96]:
def remove_unwanted_name(X):
    for idx, name in enumerate(X):
        for char in name:
            if char == " " or char == "½" or char == "Ã":
                return(idx)

In [97]:
print(len(X))

5569

In [98]:
#index = remove_unwanted_name(X)
while True:
    try:
        index = remove_unwanted_name(X)
        X.pop(index)
        y1.pop(index)
        y2.pop(index)
        y3.pop(index)
    except:
        print("Nothing more to remove")
        break

Nothing more to remove

In [99]:
print(len(X))

5528

In [100]:
for name in X:
    for char in name:
        if char.lower() not in ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','æ','ø','å','à','á','ä','ö','ü','í','é',"'",'-',]:
            print(char)
            print(name)
            break

In [101]:
data = [X,y1,y2,y3]

In [102]:
# Storing the data
parent = path.abspath(path.join("gender_name_data_managment.ipynb", "../.."))
path = "/processed/"
file_name = "origin_data"

with open(f'{parent + path + file_name}.obj', 'wb') as f:
	pickle.dump(data, f)