## Creating tables in database

In [1]:
import psycopg2

##### Database connection

In [4]:
# jdbc:postgresql://pg-graduate-delt.postgres.database.azure.com:5432/{your_database}?user=snartimaal&password={your_password}&sslmode=require
with psycopg2.connect(
    database='pgsql-graduate-gruppe3',
    user='snartimaal',
    password='#st44p44nu',
    host='pg-graduate-delt.postgres.database.azure.com'
) as conn:
    cur = conn.cursor()

##### Setting up tables in database

In [56]:
# Bronnoysund mainunit company data table
#cur.execute("DROP TABLE IF EXISTS company_mainunit;")
cur.execute("CREATE TABLE company_mainunit \
    (organisasjonsnummer int primary key, \
    navn varchar, \
    registreringsdatoEnhetsregisteret varchar, \
    registrertIMvaregisteret varchar, \
    antallAnsatte int, \
    stiftelsesdato varchar, \
    registrertIForetaksregisteret varchar, \
    registrertIStiftelsesregisteret varchar, \
    registrertIFrivillighetsregisteret varchar, \
    konkurs varchar, \
    underAvvikling varchar, \
    underTvangsavviklingEllerTvangsopplosning varchar, \
    maalform varchar, \
    organisasjonsform_kode varchar, \
    organisasjonsform_beskrivelse varchar, \
    organisasjonsform__links_self_href varchar, \
    naeringskode1_beskrivelse varchar, \
    naeringskode1_kode float, \
    forretningsadresse_land varchar, \
    forretningsadresse_landkode varchar, \
    forretningsadresse_postnummer int, \
    forretningsadresse_poststed varchar, \
    forretningsadresse_adresse varchar, \
    forretningsadresse_kommune varchar, \
    forretningsadresse_kommunenummer int, \
    links_self_href varchar);")
conn.commit()
#cur.close()

In [57]:
# Bronnoysund subunit company data table

#cur.execute("DROP TABLE IF EXISTS company_subunit;")
cur.execute("CREATE TABLE company_subunit \
    (organisasjonsnummer int primary key, \
    navn varchar, \
    registreringsdatoEnhetsregisteret varchar, \
    registrertIMvaregisteret varchar, \
    antallAnsatte float, \
    overordnetEnhet int, \
    oppstartsdato varchar, \
    organisasjonsform_kode varchar, \
    organisasjonsform_beskrivelse varchar, \
    organisasjonsform__links_self_href varchar, \
    naeringskode1_beskrivelse varchar, \
    naeringskode1_kode float, \
    beliggenhetsadresse_land varchar, \
    beliggenhetsadresse_landkode varchar, \
    beliggenhetsadresse_postnummer int, \
    beliggenhetsadresse_poststed varchar, \
    beliggenhetsadresse_adresse varchar, \
    beliggenhetsadresse_kommune varchar, \
    beliggenhetsadresse_kommunenummer varchar, \
    links_self_href varchar, \
    links_overordnetEnhet_href varchar, \
    hjemmeside varchar, \
    datoEierskifte varchar);")
conn.commit()
#cur.close()

In [58]:
# Bronnoysund parentunit company data table
#cur.execute("DROP TABLE IF EXISTS company_parentunit;")
cur.execute("CREATE TABLE company_parentunit \
    (organisasjonsnummer int primary key, \
    navn varchar, \
    registreringsdatoEnhetsregisteret varchar, \
    registrertIMvaregisteret varchar, \
    antallAnsatte float, \
    stiftelsesdato varchar, \
    registrertIForetaksregisteret varchar, \
    registrertIStiftelsesregisteret varchar, \
    registrertIFrivillighetsregisteret varchar, \
    konkurs varchar, \
    underAvvikling varchar, \
    underTvangsavviklingEllerTvangsopplosning varchar, \
    maalform varchar, \
    organisasjonsform_kode varchar, \
    organisasjonsform_beskrivelse varchar, \
    organisasjonsform__links_self_href varchar, \
    naeringskode1_beskrivelse varchar, \
    naeringskode1_kode float, \
    forretningsadresse_land varchar, \
    forretningsadresse_landkode varchar, \
    forretningsadresse_postnummer int, \
    forretningsadresse_poststed varchar, \
    forretningsadresse_adresse varchar, \
    forretningsadresse_kommune varchar, \
    forretningsadresse_kommunenummer int, \
    links_self_href varchar);")
conn.commit()
#cur.close()

In [61]:
# Mattilsynet table

#cur.execute("DROP TABLE IF EXISTS mattilsynet;")
cur.execute("CREATE TABLE mattilsynet \
    (tilsynid varchar primary key,\
    org_navn varchar, \
    orgnummer int, \
    adresse varchar, \
    postnr int, \
    poststed varchar, \
    karakter1 decimal, \
    karakter2 int, \
    karakter3 decimal, \
    karakter4 decimal, \
    total_karakter int, \
    dato varchar, \
    tilsynsbesoektype int, \
    tilsynsobjektid varchar, \
    sakref varchar, \
    status int);")
conn.commit()
cur.close()

In [5]:
# Google review table

cur.execute("DROP TABLE IF EXISTS google_review;")
cur.execute("CREATE TABLE google_review \
    (id serial primary key, \
    restaurant_name varchar, \
    avg_rating decimal, \
    individual_rating decimal, \
    review_text varchar, \
    relaitve_time varchar, \
    reviewer varchar);")
conn.commit()
cur.close()